<div class="p-4 bg-dark h-100">
  <div class="container-fluid flights-container">
    <div class="row row-flights-container">
      <div class="col-12 flights-list-container card bg-dark-card">
<h1 class="text-center">Flights Log</h1>
<table datatable [dtOptions]="dtOptions" class="table table-striped table-borderless table-flights" style="width: 100%">
  <thead>
  <tr>
    <th>Id</th>
    <th>Event DateTime</th>
    <th>Event Type</th>
    <th>Location</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Distance From Ideal</th>
    <th>Glideslope Score</th>
    <th>Vertical Speed</th>
    <th>Max Force</th>
    <th>Pitch</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flightData of flights">
    <td>{{flightData.id}}</td>
    <td>{{flightData.eventDateTime}}</td>
    <td>{{flightData.flightEventType.name}}</td>
    <td>{{flightData.location}}</td>
    <td>{{flightData.latitude}}</td>
    <td>{{flightData.longitude}}</td>
    <td>{{flightData.distanceFromIdeal}}</td>
    <td>{{flightData.glideslopeScore}}</td>
    <td>{{flightData.verticalSpeed}}</td>
    <td>{{flightData.maxForce}}</td>
    <td>{{flightData.pitch}}</td>
  </tr>
  <tr *ngIf="!flights">
    <td colspan="4" class="text-center">
      <span class="spinner-border spinner-border-lg align-center"></span>
    </td>
  </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>
