/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  min-height: 100%;
  /*margin-bottom: 60px;*/
}

html {
  position: relative;
  min-height: 100%;
}

.footer{
  height: 60px;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}
