<h1 class="text-center mb-4">flight real time monitoring</h1>
<div class="row gutters-sm">
  <div class="col-12 mb-1">
    <div class="card bg-dark-panel">
      <div class="card-body">
        <div class="row row-indicators-container">
          <div class="col-12 col-md-2">
            <div class="instrument" id="airspeed"></div>
          </div>
          <div class="col-12 col-md-2">
            <div class="instrument" id="attitude"></div>
          </div>
          <div class="col-12 col-md-2">
            <div class="instrument" id="altimeter"></div>
          </div>
          <div class="col-12 col-md-2">
            <div class="instrument" id="turnCoordinator"></div>
          </div>
          <div class="col-12 col-md-2">
            <div class="instrument" id="heading"></div>
          </div>
          <div class="col-12 col-md-2">
            <div class="instrument" id="variometer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
